body{
    background-color: black;
}
.btn{
    position: absolute;
    cursor: pointer;
    border: none;
    border-radius: 5%;
    padding: 60px 130px;
}
.row1{
    top: 3%;
}
.row2{
    top: 27%;
}
.row3{
    bottom: 27%;
}
.row4{
    bottom: 3%;
}
.col1{
    left: 7%;
}
.col2{
    left: 29%;
}
.col3{
    right: 29%;
}
.col4{
    right: 7%;
}
#btn1{
    background-color: red;
}
#btn2{
    background-color: yellow;
}
#btn3{
    background-color: aqua;
}
#btn4{
    background-color: plum;
}
#btn5{
    background-color: orange;
}
#btn6{
    background-color: greenyellow;
}
#btn7{
    background-color: powderblue;
}
#btn8{
    background-color: hotpink;
}
#btn9{
    background-color: lightsalmon;
}
#btn10{
    background-color: yellowgreen;
}
#btn11{
    background-color: slateblue;
}
#btn12{
    background-color: pink;
}
#btn13{
    background-color: salmon;
}
#btn14{
    background-color: olivedrab;
}
#btn15{
    background-color: navy;
}
#btn16{
    background-color: papayawhip;
}