body{
    background-color: black;
}
.btn{
    position: absolute;
    cursor: pointer;
    border: none;
    border-radius: 5%;
    padding: 60px 130px;
}
.topBtn{
    bottom: 30%;
}
.bottomBtn{
    bottom: 5%;
}
.col1{
    left: 7%;
}
.col2{
    left: 29%;
}
.col3{
    right: 29%;
}
.col4{
    right: 7%;
}
#btn1{
    background-color: red;
}
#btn2{
    background-color: yellow;
}
#btn3{
    background-color: aqua;
}
#btn4{
    background-color: plum;
}
#btn5{
    background-color: orange;
}
#btn6{
    background-color: greenyellow;
}
#btn7{
    background-color: powderblue;
}
#btn8{
    background-color: hotpink;
}